---
import Header from "../components/Header.astro";
import LeftMenu from "../components/LeftMenu.astro";
import Layout from "../layouts/Layout.astro";
import { trpc } from "../lib/trpc";

const families = await trpc.families.getPaginated.query({page:0, perPage:1000});
---

<Layout title="Главная">
  <Header />
  <main>
    <LeftMenu />
    <div class="content">
      <h1>Добавление гриба в базу данных</h1>
      <form id="addMushroom">
        <label>
          Наименование гриба:
          <input
            required
            placeholder="Наименование гриба"
            name="name"
          />
          </label>
        <label>
          Семейство:
          <select name="family">
            {families.map(f => (
              <option value={f.id}>{f.name} - {f.latinName}</option>
            ))}
          </select>
        </label>
        <label>
          Латинское наименование:
          <input
            required
            placeholder="Латинское наименование гриба"
            name="latinName"
          />
        </label>
        <label>
          Наличие в красной книге
          <select size="2" name="redBooked" required>
            <option value="true">Состоит в красной книге</option>
            <option value="false" selected>Не состоит в красной книге</option>
          </select>
        </label>
        <label>
          Категория съедобности:
          <select size="3" name="eatableGrade" required>
            <option value="EATABLE">Съедобные</option>
            <option value="PARTIALLY_EATABLE">Условно-съедобные</option>
            <option value="NOT_EATABLE">Несъедобные</option>
          </select>
        </label>
        <label>
          Описание:
          <textarea placeholder="Описание" name="description"></textarea>
        </label>
        <!-- <label>
          Источник:
          <input required placeholder="Сcыллку на источник" />
        </label> -->
        <input class="submit" type="submit" value="Отправить" />
      </form>
      <script>
        import { trpc } from "../lib/trpc";
        import type { EatableGrade } from "@fungi/db";
        const form = document.querySelector("#addMushroom");
        const getFromFormByName = (name: string) => (form.querySelector(`[name='${name}']`) as HTMLInputElement)

        form.addEventListener("submit", async (e) => {
          e.preventDefault();

          let name = getFromFormByName("name").value
          let latinName = getFromFormByName("latinName").value
          let redBooked = Boolean(getFromFormByName("redBooked").value)
          let familyId = getFromFormByName("family").valueAsNumber
          let eatableGrade = getFromFormByName("eatableGrade").value as EatableGrade
          
          const newMushroom = await trpc.mushrooms.add.query({
            name, latinName, redBooked, familyId, eatable: eatableGrade
          })
        });
      </script>
    </div>
  </main>
  <style>
    main {
      display: flex;
      gap: 50px;
    }
    .content {
      width: 100%;
      flex-shrink: 1;
    }
    h1,
    h2 {
      border-bottom: 1px solid #a2a9b1;
      margin: 0;
      font-family: "Linux Libertine", "Georgia", "Times", serif;
    }
    input,
    textarea,
    option {
      padding: 5px 0 5px 5px;
    }
    input:focus,
    select:focus,
    textarea:hover {
      outline-color: rgb(64, 101, 197);
    }
    input:hover,
    select:hover,
    textarea:hover {
      border-color: black;
    }
    form {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 250px;
    }
    label {
      display: flex;
      flex-direction: column;
      max-width: 250px;
    }
    .submit {
      width: 100%;
      padding: 8px;
      margin: 0 auto;
      background-color: rgb(64, 101, 197);
      border: none;
      cursor: pointer;
      color: white;
      font-weight: bold;
    }

    .submit:hover {
      background-color: rgb(117, 144, 213);
    }
  </style>
</Layout>
