---
import Header from "../components/Header.astro";
import LeftMenu from "../components/LeftMenu.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Публикации">
  <Header />
  <main>
    <LeftMenu />
    <div class="content">
      <h1>Вход</h1>
      <form>
        <label>Логин:<input placeholder="Введите свой логин" /></label>
        <label
          >Пароль:<input
            type="password"
            placeholder="Введите свой пароль"
          /></label
        >
        <input class="submit" type="submit" value="Войти" />
      </form>
    </div>
  </main>
</Layout>
<style>
  main {
    display: flex;
    gap: 50px;
  }
  .content {
    width: 100%;
    flex-shrink: 1;
  }
  h1 {
    border-bottom: 1px solid #a2a9b1;
    margin: 0;
    font-family: "Linux Libertine", "Georgia", "Times", serif;
  }
  form,
  label {
    display: flex;
    flex-direction: column;
    max-width: 250px;
  }
  form {
    gap: 10px;
    margin-top: 10px;
  }
  .submit {
    width: 100%;
    padding: 8px;
    margin: 0 auto;
    background-color: rgb(64, 101, 197);
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }

  .submit:hover {
    background-color: rgb(117, 144, 213);
  }

  input {
    padding: 5px 0 5px 5px;
  }
  input:focus {
    outline-color: rgb(64, 101, 197);
  }
  input:hover {
    border-color: black;
  }
</style>
