---
import ArticleList from "../components/ArticleList.astro";
import Header from "../components/Header.astro";
import LeftMenu from "../components/LeftMenu.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Публикации">
  <Header />
  <main>
    <LeftMenu />
    <div class="content">
      <h1>Публикации</h1>
      <ArticleList />
    </div>
  </main>
</Layout>
<style>
  main {
    display: flex;
    gap: 50px;
  }
  .content {
    width: 100%;
    flex-shrink: 1;
  }
  h1 {
    border-bottom: 1px solid #a2a9b1;
    margin: 0;
    font-family: "Linux Libertine", "Georgia", "Times", serif;
  }
</style>
