---
export type Props = {
  id: string;
  name: string;
  image: string;
};

const { id, name, image } = Astro.props;
const addZero = (n) => (n < 10 ? `0${n}` : n);
---

<a href={`/p/${id}`} class="Article">
  <p>{name}</p>
  <img src={image} />
</a>

<style>
  @import "@fontsource-variable/raleway";

  .Article {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
    width: 200px;
    background: #ffe8c5;
    border-radius: 22px;
    overflow: hidden;
    text-decoration: none;
  }

  p {
    margin: 10px auto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }

  .Article_wrapper {
  }
</style>
