---
import articles from "../articles.json";
import ArticleCard from "./ArticleCard.astro";
---

<div class="wrapper">
  {
    articles.map((article) => (
      <ArticleCard
        id={article.id}
        name={article.name}
        date={new Date(article.date)}
        author={article.author}
      />
    ))
  }
</div>

<style>
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }
</style>
