---
import Logo from "../components/Logo.astro";
import Search from "./Search.astro";
---

<header class="header">
  <div class="header__search-wrapper">
    <Logo />
  </div>
  <div class="header__links-wrapper">
    <a class="header__link" href="/">О нас</a>
    <a class="header__link" href="/publications">Публикации</a>
    <a class="header__link" href="/encyclopedia">Энциклопедия</a>
  </div>
</header>

<style>
  @import "@fontsource-variable/raleway";
  .header {
    background-color: #ffe8c5;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding: 0 20px;
  }

  .header__links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 500px;
  }

  .header__link {
    text-decoration: none;
    font-family: "Raleway Variable";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
  }
</style>
