<a href="/" class="logo">
  <img alt="logo" src="/images/MicroFungiLogo.svg" class="logo__image" />
  <span>Fungi</span>
</a>

<style>
  .logo {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 115px;
    flex-shrink: 0;
  }

  span {
    color: orange;
    font-weight: bold;
    font-size: x-large;
  }

  .logo__image {
    width: 3rem;
  }
</style>
