<a href="/" class="logo">
  <img alt="logo" src="/images/fungy.svg" class="logo__image" />
  <span>Fungi</span>
</a>

<style>
  @import "@fontsource-variable/raleway";
  .logo {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    max-width: 70px;
    flex-shrink: 0;
    gap: 14px;
  }

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
  }

  .logo__image {
    max-height: 2rem;
  }
</style>
