---
export type Props = {
  name: string;
  latinName: string;
  image: string;
  eatable: "NOT_EATABLE" | "PARTIALLY_EATABLE" | "EATABLE";
  readbook: boolean;
  description: string;
};
---

<div class="MushroomCard">
  <img alt="Фотография гриба" src={Astro.props.image} />
  <div class="MushroomCards__headers">
    <h2>{Astro.props.name}</h2>
    <h3>{Astro.props.latinName}</h3>
  </div>
  <p class="MushroomCards__description">{Astro.props.description}</p>
  <div class="MushroomCards__notes">
    <div>{Astro.props.readbook ? "В красной книге" : ""}</div>
    <div>
      {
        Astro.props.eatable == "EATABLE"
          ? "Съедобные"
          : Astro.props.eatable == "NOT_EATABLE"
          ? "Несъедобные"
          : Astro.props.eatable == "PARTIALLY_EATABLE"
          ? "Условно-съедобные"
          : ""
      }
    </div>
  </div>
</div>
<style>
  .MushroomCard {
    display: flex;
    border-bottom: 1px solid #a2a9b1;
    padding: 20px 0;
    gap: 10px;
  }

  .MushroomCard:last-child {
    border-bottom: none;
  }

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-color: #cfe0f1;
  }

  h2 {
    margin: 0;
  }
  p {
    margin: 0;
  }

  .MushroomCards__headers {
    flex-shrink: 0;
    width: 200px;
  }

  .MushroomCards__description {
    flex-shrink: 1;
    overflow-y: auto;
    max-height: 150px;
    width: 100%;
  }

  .MushroomCards__notes {
    flex-shrink: 0;
    width: 150px;
  }
</style>
