---
export type Props = {
  id: number;
  name: string;
  latinName: string;
  image: string;
  eatable: "NOT_EATABLE" | "PARTIALLY_EATABLE" | "EATABLE";
  readbook: boolean;
  description: string;
};
---

<div class="MushroomCard">
  <p>{Astro.props.name}</p>
  <img src={Astro.props.image} />
</div>

<style>
  @import "@fontsource-variable/raleway";

  .MushroomCard {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
    width: 200px;
    background: #ffe8c5;
    border-radius: 22px;
    overflow: hidden;
    text-decoration: none;
  }

  p {
    margin: 10px auto;
    font-family: "Raleway Variable";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }

  img {
    object-fit: fill;
    width: 200px;
    height: 150px;
  }

  .Article_wrapper {
  }
</style>
